@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #f6f6f9;
  --seconday-color: #900cdd;
  --button-color: #5e5e5e;
  --link-visited: #a0a0a0;
  --link-hover: #b343f3;
  --link-active: #b343f3;
  --font-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #10011d 0%, #280c3e 100%);
  width: 100vw;
  height: 100vh;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

body {
  background-attachment: fixed;
}

.main-navigation a {
  float: left;
  color: var(--primary-color);
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 17px;
}

.main-navigation :hover {
  color: var(--seconday-color);
}

.project-link {
  text-decoration: none;
  color: var(--font-color);
}

.page-header {
  overflow: hidden;
}

.page-header_logo {
  float: left;
  padding: 10px;
}

.page-header_item {
  float: right;
}

.profile {
  width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  margin: 40px;
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.profile_block {
  margin: 200px;
  float: center;
}

.span-name {
  color: var(--seconday-color);
}

.body-section {
  float: center;
  width: 800px;
  margin: auto;
}
.body-text {
  float: center;
  margin: 40px;

  color: var(--primary-color);
}
.body-button {
  background-color: var(--button-color);
  color: var(--primary-color);
  border: none;
  width: 300px;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.body-button:hover,
.body-button:focus {
  background-color: var(--seconday-color);
  color: var(--primary-color);
  cursor: pointer;
  opacity: 1.5;
  box-shadow: 0 0 15px var(--seconday-color);
  transform: translate(0px, -5px);
  transition: all 0.3s;
}

.grid_container {
  text-align: center;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: auto;
    margin: auto;
  }

  .grid_item {
    background-color: var(--seconday-color);
    border-radius: 25px;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 62px;
    top: 0;
    transition: 0.5s;
  }
}

.grid_item:hover {
  background-color: var(--seconday-color);
  cursor: pointer;
  opacity: 1.5;
  transform: translate(0px, -10px);
  box-shadow: 0 0 15px var(--seconday-color);
}
