@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #f6f6f9;
  --seconday-color: #900cdd;
  --button-color: #5e5e5e;
  --link-visited: #a0a0a0;
  --link-hover: #b343f3;
  --link-active: #b343f3;
  --font-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #10011d 0%, #391753 100%);
  width: 100vw;
  height: 100vh;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

body {
  background-attachment: fixed;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
  margin: 10px 30px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: var(--font-color);
}

li a:hover,
li a:focus {
  color: var(--seconday-color);
  transform: translate(0px, -5px);
  transition: all 0.3s;
}

.project-link {
  text-decoration: none;
  color: var(--font-color);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 10% auto;
}

.profile_portrait {
  margin: 40px;
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.profile_text {
  margin: 40px;
  color: var(--primary-color);
}

.span-name {
  color: var(--seconday-color);
}

.body-section {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 10px;
  margin: 25% auto;
}
.body-text {
  margin: 40px;
  color: var(--primary-color);
}
.body-button {
  background-color: var(--button-color);
  align-self: center;
  color: var(--primary-color);
  text-decoration: none;
  border: none;
  width: 300px;
  padding: 13px 32px;
  margin: 10px;
  font-size: 16px;
  border-radius: 15px;
}

.body-button:hover,
.body-button:focus {
  background-color: var(--seconday-color);
  color: var(--primary-color);
  cursor: pointer;
  opacity: 1.5;
  box-shadow: 0 0 15px var(--seconday-color);
  transform: translate(0px, -5px);
  transition: all 0.3s;
}

.grid_container {
  text-align: center;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: auto;
    margin: auto;
  }

  .grid_item {
    background-color: var(--seconday-color);
    border-radius: 25px;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 62px;
    top: 0;
    transition: 0.5s;
  }
}

.grid_item:hover {
  background-color: var(--seconday-color);
  cursor: pointer;
  opacity: 1.5;
  transform: translate(0px, -10px);
  box-shadow: 0 0 15px var(--seconday-color);
}

.contact-section {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding: 10px;
  margin: 5% auto;
}
